[paths]
source = src

[run]
branch = true
omit =
    src/msquaredc/ui/gui/*
    src/msquaredc/ui/tui/*

source =
    src/msquaredc

parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    src/msquaredc/ui/gui/*
    src/msquaredc/ui/tui/*
